<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/discript"></a>
    </nav>
    <section class="contents">
      <h4>A Brief History of Meteorology.</h4>
      <p>
        Look up at the sky. Is it raining or sunny? Are there big, puffy clouds
        that look like marshmallows, or dark, angry clouds threatening sleet? No
        matter how the sky appears, you are looking at Earth’s lower atmosphere,
        the realm that is studied by the science of meteorology.
        <br />
      </p>
      <p>
        Meteorology concerns itself with the science of atmospheric properties
        and phenomena—science that includes the atmosphere’s physics and
        chemistry.are often thought of as people who forecast the weather. And
        some meteorologists certainly do that! Predicting the weather is a
        complicated process, which requires both sophisticated new tools and
        some old-fashioned techniques. Meteorologists are observers and
        researchers. They note the physical conditions of the atmosphere above
        them, and they study maps, satellite data, and radar information. They
        also compare various kinds of weather data from local, regional, and
        global sources. Beyond weather forecasting, meteorology is concerned
        with long-term trends in climate and weather, and their potential impact
        on human populations. An important area of meteorological research these
        days is climate change and the effects it may cause.
      </p>
    </section>
  </body>
</html>
